<div class="container text-center">
  <h1>Muscle Groups</h1>

  <div style="position:relative;">
    <img src = "./images/Full body.png" style="min-width:220px;max-width:220px;">
    <div class="full-front-chest"></div>
    <div class="full-front-abs"></div>
    <div class="full-front-legs"></div>
  </div>

  <div style="position:relative;">
    <img src = "./images/Full-back.png" style="min-width:220px;max-width:220px;">
    <div class="full-back-back"></div>
    <div class="full-back-legs"></div>
    <div class="full-back-delts"></div>
  </div>

</div>
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="muscleGroup in vm.muscleGroups track by $index">
    <div class="thumbnail">
      <img ng-src="{{ muscleGroup.image}}" alt="{{ muscleGroup.name }}">
      <div class="caption">
        <h3>{{ muscleGroup.name }}</h3>
        <p>{{ muscleGroup.description }}</p>
        <p><a ui-sref="muscleGroupsShow({ id: muscleGroup.id })" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>

</div>
