<div class="container text-center">
  <h1>Videos for {{ vm.targetMuscle.name }}</h1>
  <div ng-repeat="video in vm.targetMuscle.videos track by $index">
    <h3>{{ video.title }}</h3>
    <p>{{ video.description }}</p>


    <iframe width="560" height="315" ng-src="{{ video.url | trusted }}" frameborder="0" allowfullscreen></iframe>

    <form ng-submit="vm.createComment(video.id)">
      <label for="body"></label>
      <textarea name="body" rows="12" cols="80" ng-model="vm.comment.body"></textarea>
      <br>
      <input type="submit" name="" value="Add Comment">
    </form>
  </div>
</div>


  <ul class="comments">
    <li ng-repeat="video in vm.targetMuscle.videos track by $index" class="bulletpoint">
      <ul>
        <div class="container" id="comments">
          <li ng-repeat="comment in video.comments track by $index">{{comment.body }}</li>
        </div>
      </ul>
    </li>
  </ul>
